.header-color {
  background: #8E0E00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #FFFAFA;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* https://stackoverflow.com/questions/31447555/material-design-lite-override-styleguide-property-without-important */
.mdl-layout__header.mdl-layout__header .mdl-layout__drawer-button {
  background: transparent;
}

.avatar-img {
  height: 200px;
  padding-top: 2em;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 50%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}
